.Box {
  margin: 0 auto;

  ul {
    list-style-type: none;
    position: absolute;
    text-align: center;
    top: 70px;
    z-index: 1;
  }
}

@media (min-width: 300px) and (min-height: 400px) {
  .Box {
    width: 320px;
    height: 196px;

    ul {
      top: 175px;
      padding-left: 25px;

      li img {
        height:70px;
      }
    }
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Box {
    margin-top: 60px;
    width: 470px;
    height: 300px;
  ul {
      top: 190px;
      padding-left: 30px;

      li img {
        height:255px;
      }
    }
  }
}

@media (min-width: 800px) and (min-height: 401px) {
  .Box {
    margin-top: 100px;
    width: 470px;
    height: 300px;
  ul {
      top: 270px;
      padding-left: 30px;

      li img {
        height:255px;
      }
    }
  }
}




