.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;

  button {
    display: inline;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #D9B17E;
    cursor: pionter;
    outline: none;
  }

  button:disabled {
    background-color: #C79666;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

  button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}



  .Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
  }

  .Less {
    background-color: #D39952;
    color: white;
  }

  .More {
    background-color: #8F5E1E;
    color: white;
  }

  .Less:hover, .More:hover{
    background-color: #DAA972;
    color: white;
  }

}

.CardProduct {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 5px;
}

.CardProduct img {
  height: 100%;
  width: 30px;
  object-fit: cover;
}

.CardProduct h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.CardProduct p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.CardProduct .CardProductInfos {
  padding: 16px;
}

@media (max-width: 600px) {
  .BuildControl {
    margin: 2px;
    padding: 2px;

  button {
    padding: 2px;
    margin-bottom: 5px;
    width: 50px;
  }

  .Label {
    padding: 2px;
    width: 50px;
  }

}
  .CardProduct {
    height: 70px;
    width: 120px;

  }
}
