@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.DrawerToggle{
  display: flex;
  font-family: 'Monoton', cursive;
  cursor: pointer;
  img {
    height: 35px;
    width: 15px;
    padding-top: 35px;
  }
  .Text {
    font-size: 30px;
    margin-left: 10px;
  }

}

