.Logo {
  padding: 5px 3%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  img {
    height: 45px;
  }
}

@media (max-width: 500px) {
  .Logo {
    img {
      visibility: hidden;
    }
  }
}
