@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.Logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  .Text {
    font-family: 'Monoton', cursive;
    font-size: 30px;
    margin: 5px 0 0 15px;
  }
}

