@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.ButtomToggle {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  button{
    width: 250px;
    height: 250px;
    font-family: 'Monoton', cursive;
    font-size: 40px;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 5px 5px 1px rgba(0,0,0,0.7);
     box-shadow: 0 5px 5px 1px rgba(0,0,0,0.7);
  }

  button:hover, button:active {
    background-color: rgba(0,0,0,0.05);
    color: #966909;
    -webkit-box-shadow: 0 5px 5px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 5px 5px 1px rgba(0,0,0,0.7);
     box-shadow: 0 2px 2px 1px rgba(0,0,0,0.7);
  }

}
  .Show {
    visibility: visible;
  }

  .Hide {
    visibility: hidden;
  }

  @media (max-width: 500px) {
    .ButtomToggle {
      display: flex;
      justify-content: center;
      margin-top: 60px;
   }
}
